@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

:root {
    --main-color: #f58442;
    --secondary-color: #40eb34;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

ul, a {
    color: #000000;
    display: inline-flex;
    list-style: none;
    text-decoration: none;
    gap: 20px;
}

a:visited {
    color: #000000;
}

a:hover {
    color: var(--secondary-color);
}

.right-links {
    font-family: 'roboto', sans-serif;
    font-weight: bold;
}

img {
    width: 300px;
    height: 300px;
}

.header .logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 55px;
    margin-bottom: 50px;
    padding: 15px 0;
}

.heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding-bottom: 115px;
}

.heroSectionkid {
    flex: 1;
    flex-direction: row;
    margin: 0 55px;
}

.heroSectionkid two img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 55px;
}

#bigSmiley {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(360deg);
    } 
}

.contentOne {
    width: 800px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
}

.introWords {
    width: 500px;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: -70px;
    padding-bottom: -30px;
}

#latestEp {
    padding: 15px 25px;
    border-radius: 20px;
    border-style: none;
    background-color: var(--main-color);
    color: #000000;
    overflow: hidden;
    transition: all 0.3s ease-out;
} 

#latestEp:hover {
    transition: all 0.3s ease-out;
    background-color:var(--secondary-color);
    width: 100%;
    cursor: pointer;
    scale: 0.5;
}

.button {
    margin-bottom: 25px;
}

.secondarySection{
    margin: 0 48px;
}

.secondTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.cardSection {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

.cards {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

figure img {
    width: 200px;
    height: 200px;
    border: 4px solid #f58442;
    border-radius: 9px;
}

figcaption {
    display: flex;
    text-align: center;
    width: 200px;
    margin-top: 5px;
    font-family: sans-serif;
    font-weight: 200;
}

.testimonialSection {
    display: flex;
    justify-content: center;
    background-color: #f58442;
    padding: 70px 0;
}

.quote {
    width: 800px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: italic; 
    font-size: 32px;
    margin-bottom: -5px;
    color: #ffffff;
    line-height: 2;
}

.author {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    float: right;
}

.callSection {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.background-box {
    display: flex;
    width: 800px;
    height: 100px;
    background-color: #f58442;
    border-radius: 7px;
    padding: 10px 60px;
}

.ctaSection {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    line-height: 0.2;
    align-items: center;
    color: #ffffff;
}

.cta-one {
    font-family: sans-serif;
}

.callToAction {
    font-weight: bold;
}

.signUp {
    font-weight: 200;
}

.callButton {
    background-color: rgba(245, 132, 66, 1);
    border-color: #ffffff;
    padding: 8px 34px;
    border-radius: 10px;
    border-style: solid;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: whitesmoke;
    font-family: roboto, sans-serif;
}